<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
             xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2 th:text="'Id Filiacion = '+${antropometria.filiacion.id_filiacion}"></h2>
    <form th:action="@{/antropometria/create(id_filiacion=${antropometria.filiacion.id_filiacion})}" th:object="${antropometria}" method ="post">
        <fieldset>
        <legend>Datos del paciente</legend>
        <table>
            <input type="hidden" th:field="*{id_antropometria}">
            <tr>
                <td><label>Altura(Mt): </label></td>
                <td><input type="text" th:field="*{altura}"  id="altura" name="altura"  required="required" /></td>
            </tr>
            <tr>
                <td><label>Peso(Kg): </label></td>
                <td><input type="text" th:field="*{peso}"  id="peso" name="peso"  required="required" /></td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Registrar...</button>
                </td>
            </tr>
        </table>
    </fieldset>
    </form>


</body>
</html>