<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Ingreso Paciente</title>

  <div th:insert = "fragments/imports :: links"></div>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- SIDE BAR-->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">SIRERE</div>
    </a>


  </ul>
  <!-- END SIDE BAR-->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- TOP BAR -->
      <div th:insert="fragments/functions :: topbar"></div>
      <!-- END TOP BAR-->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!--  ROW CART-->
        <!-- <div th:insert = "fragments-funcion :: row-cart"></div>-->
        <!--END ROW CART-->


        <div class= "card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Registro Personal</h6>
          </div>
          <div class= "card-body">
            <form class="row g-3"  th:action="@{/personal/create}" th:object="${usuario}" method="post">
              <!-- ALERTA DE ERRORES-->
              <div th:if="${#fields.hasErrors('*')}">
                <h2> Por favor corrija los siguientes errores:</h2>
                <ul>
                  <li th:each="err :${#fields.errors('*')}" th:text="${err}"></li>
                </ul>
              </div>
              <input type="text" th:field="*{id_usuario}">
              <input type="text" th:field="*{personal.id_personal}">

              <div class="col-12"><br><label class="text-dark" >Datos Personales</label><br></div>
              <!--RUT-->
              <div class="col-12">
                <input type="text" class="form-control col-md-2"
                       th:field="*{rut}"  id="rut" name="rut" placeholder="Rut"  oninput="checkRut(this)"   required="required">
                <script th:src="@{/js/validarRUT.js}"></script>
                <br>
              </div>

              <!--NOMBRE-->
              <div class="col-md-3">
                <input type="text" class=" form-control"
                       th:field="*{nombre}"  id="nombre" placeholder="Nombre"  required="required">
              </div>

              <!--APELLIDO-->
              <div class="col-md-4">
                <input type="text" class="form-control"
                       th:field="*{apellido}"  placeholder="Apellido" id="apellido" name="apellido" required="required">


              </div>

              <div class="col-12"><br><label class="text-dark" >Cuenta</label><br></div>
              <!-- ROL -->
              <div class="col-md-3">
                <select class="selectpicker show-tick form-control"  th:field="*{roles}" required="required">
                  <option value="" selected>Rol</option>
                  <option th:value="1" th:text="ADMINISTRADOR"></option>
                  <option th:value="3" th:text="DOCTOR"></option>
                  <option th:value="4" th:text="ENFERMERIA"></option>
                  <option th:value="5" th:text="GES"></option>
                  <option th:value="6" th:text="LABORATORISTA"></option>
                  <option th:value="7" th:text="ESTADISTICAS"></option>
                  <option th:value="8" th:text="TENS"></option>
                </select>

              </div>

              <!-- ESPECIALIDAD -->
              <div class="col-md-2">
                <select class="selectpicker show-tick form-control"  th:field="*{personal.especialidad}" required="required">
                  <option value="" selected>Especialidad</option>
                  <option th:value="1" th:text="NINGUNA"></option>
                  <option th:value="2" th:text="GENERAL"></option>
                  <option th:value="3" th:text="NEFROLOGIA"></option>
                </select>
              </div>
              <!--PASSWORD-->
              <div class="col-md-4">
                <input type="password" class="form-control"
                       th:field="*{password}"  placeholder="password" id="password" name="password" required="required">
              </div>


              <div class="col-12"><br><label class="text-dark" >Contacto</label><br></div>
              <!--CORREO-->
              <div class="input-group col-md-4">
                <span class="input-group-text" >@</span>
                <input type="email" th:field="*{contacto.correo}" id="correo" name="correo" placeholder="Correo" class="form-control" required="required">
              </div>


              <!--TELEFONO-->
              <div class="col-md-2">
                <input type="text" class="form-control"
                       th:field="*{contacto.telefono}"  id="telefono" name="telefono"  placeholder="Celular" required="required">
              </div>

              <!--TELEFONO AUX-->
              <div class="col-md-2">

                <input type="text" class="form-control"
                       th:field="*{contacto.telefono_aux}" placeholder="Celular Resplado" id="telefono_aux" name="telefono_aux">
              </div>

              <div class="col-12"><br></div>

              <!--ACTIVO-->
              <div class="col-12">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                         th:field="*{personal.habilitado}">
                  <label class="form-check-label" for="flexCheckDefault">
                    ¿Activar Cuenta?
                  </label>
                </div>

              </div>

              <br>
              <br>
              <div class="col-12">
                <button class="btn btn-primary" type="submit">Ingresar</button>
              </div>
            </form>

          </div>
        </div>

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- FOOTER -->
    <footer th:insert="fragments/imports :: footer"></footer>
    <!-- End FOOTER -->
  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<div th:insert ="fragments/functions :: logout"></div>
<!--<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"-->
<!--     aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="exampleModalLabel">Cerrar sesion?</h5>-->
<!--                <button class="close" type="button" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">×</span>-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="modal-body">Seleccione "Salir" para cerrar la sesion.</div>-->
<!--            <div class="modal-footer">-->
<!--                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>-->
<!--&lt;!&ndash;                <a class="btn btn-primary" th:href="@{/login}">Salir</a>&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="btn btn-primary" href="login">Salir</a>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div th:insert = "fragments/imports :: scripts"></div>


</body>

</html>