<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sirere</title>

    <div th:insert = "fragments/imports :: links"></div>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- SIDE BAR-->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">SIRERE</div>
        </a>


    </ul>
    <!-- END SIDE BAR-->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- TOP BAR -->
            <div th:insert="fragments/topbar :: topbar"></div>
            <!-- END TOP BAR-->

            <!-- Begin Page Content -->
            <div class="container-fluid">

              <div class="alert alert-success" role="alert">
<!--                  <h2 class="alert-heading">Bienvenido!,</h2>-->
<!--                  <hr>-->
<!--                  <input th:value="${#authentication.getPrincipal().getRut()}">-->
<!--                  <input th:value="${#authentication.getPrincipal().getNombre()}">-->
<!--                   <span sec:authentication="principal.authorities"></span>-->
<!--                  <hr>-->

                  <h1 class="alert-heading" th:text="'Bienvenido!, '+${#authentication.getPrincipal().getNombre()}">Bienvenido!</h1>
<!--                  <span th:value="${#authentication.getPrincipal().getRut()}"></span>-->
<!--                      <span th:value="${#authentication.getPrincipal().getNombre()}"></span>-->
                    <span sec:authentication="principal.authorities"></span>

                  <!-- 1.- INDEX ADMINISTRADOR-->
                  <div class=" d-flex justify-content-end" sec:authorize="hasRole('ADMINISTRADOR')">
                      <form th:action="@{/administrador/index}" method="get" >
                          <input type="hidden" th:name="id_usuario" placeholder="Se dirige a administrador index" th:value="${#authentication.getPrincipal().getId_usuario()}" >
                          <button class="btn-primary" type="submit">Comencemos</button>
                      </form>
                  </div>

                  <!-- 2.- INDEX PACIENTE-->
                  <div class=" d-flex justify-content-end" sec:authorize="hasRole('CLIENTE')">
                      <form th:action="@{/filiacion/detalle}" method="get" >
                          <input type="hidden" th:name="id_usuario" placeholder="Se dirige a paciente index" th:value="${#authentication.getPrincipal().getId_usuario()}" >
                          <button class="btn-primary" type="submit">Comencemos</button>
                      </form>
                  </div>

                  <!-- 3.- INDEX DOCTOR-->
                  <div class=" d-flex justify-content-end" sec:authorize="hasRole('DOCTOR')">
                      <form th:action="@{/doctor/index}" method="get" >
                          <input type="hidden"  th:name="id_usuario" placeholder="Se dirige a doctor index" th:value="${#authentication.getPrincipal().getId_usuario()}" >
                          <button class="btn-primary" type="submit">Comencemos</button>
                      </form>
                  </div>

                  <!-- 4.- INDEX ENFERMERIA-->
                  <div class=" d-flex justify-content-end" sec:authorize="hasRole('ENFERMERIA')">
                      <form th:action="@{/paciente/lista}" method="get" >
                          <input type="hidden" th:name="id_usuario" placeholder="Se dirige a enfermeria index" th:value="${#authentication.getPrincipal().getId_usuario()}" >
                          <button class="btn-primary" type="submit">Comencemosa</button>
                      </form>
                  </div>

                  <!-- 5.- INDEX GES-->
                  <div class=" d-flex justify-content-end" sec:authorize="hasRole('GES')">
                      <form th:action="@{/paciente/lista}" method="get" >
                          <input type="hidden" th:name="id_usuario" placeholder="Se dirige a ges index" th:value="${#authentication.getPrincipal().getId_usuario()}" >
                          <button class="btn-primary" type="submit">Comencemos</button>
                      </form>
                  </div>

                  <!-- 6.- INDEX LABORATORISTA-->
                  <div class=" d-flex justify-content-end" sec:authorize="hasRole('LABORATORISTA')">
                      <form th:action="@{/paciente/lista}" method="get" >
<!--                          <input type="hidden" th:name="id_usuario" placeholder="Se dirige a laboratorista index" th:value="${#authentication.getPrincipal().getId_usuario()}" >-->
                          <button class="btn-primary" type="submit">Comencemos</button>
                      </form>
                  </div>

                  <!-- 7.- INDEX ESTADISTICA-->
                  <div class=" d-flex justify-content-end" sec:authorize="hasRole('ESTADISTICA')">
                      <form th:action="@{/estadistica/index}" method="get" >
                          <input type="hidden" th:name="id_usuario" placeholder="Se dirige a estadisitca index" th:value="${#authentication.getPrincipal().getId_usuario()}" >
                          <button class="btn-primary" type="submit">Comencemos</button>
                      </form>
                  </div>

                  <!-- 8.- INDEX TENS-->
                  <div class=" d-flex justify-content-end" sec:authorize="hasRole('TENS')">
                      <form th:action="@{/tens/index}" method="get" >
                          <input type="hidden" th:name="id_usuario" placeholder="Se dirige a tens index" th:value="${#authentication.getPrincipal().getId_usuario()}" >
                          <button class="btn-primary" type="submit">Comencemos</button>
                      </form>
                  </div>

              </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- FOOTER -->
        <footer th:insert="fragments/imports :: footer"></footer>
        <!-- End FOOTER -->
    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div th:insert ="fragments/topbar :: logout"></div>

<div th:insert = "fragments/imports :: scripts"></div>

</body>

</html>