<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lista Paciente</title>

    <div th:insert = "fragments/imports :: links"></div>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- SIDE BAR-->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index">

            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">SIRERE</div>
        </a>


    </ul>
    <!-- END SIDE BAR-->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- TOP BAR -->
            <div th:insert="fragments/topbar :: topbar"></div>
            <!-- END TOP BAR-->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h5 mb-0 text-gray-800">Lista Paciente</h1>
<!--                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i-->
<!--                            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
                </div>


                <!--  ROW CART-->
                <!-- <div th:insert = "fragments-funcion :: row-cart"></div>-->
                <!--END ROW CART-->



                <div class= "card shadow mb-4">
                    <div class="card-header py-3">
<!--                        <h6 class="m-0 font-weight-bold text-primary">Pacientes</h6>-->
                        <a class="btn btn-primary btn-sm" th:href="@{/paciente/nuevo}"> Nuevo </a>

                    </div>
                    <div class= "card-body">

                        <div class='alert alert-success' th:if="${msg != null}"  th:text="${msg}" role='alert'></div>
                        <table class="table table-hover table-sm">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Rut</th>
                                <th>Nombre</th>
                                <th>Fec. Nacimiento</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="usuario : ${usuarios}">
                                <td th:text="${usuario.id_usuario}"></td>
                                <td th:text="${usuario.rut}"></td>
                                <td th:text="${usuario.nombre} + ' ' +${usuario.apellido}"></td>
                                <td th:text="${usuario.paciente.filiacion.fecha_nac}"></td>

                                <td>

                                    <!--SE ACTIVARA CON EL ROL ENFERMERIA-->
                                    <a th:href = "@{/signo/lista(id_filiacion = ${usuario.paciente.filiacion.id_filiacion})}" class="btn btn-success btn-sm" title="Ir a lista signo, enfermeria">
                                        <i class="fas fa-eye" aria-hidden="true"></i></a>

                                    <!--SE ACTIVARA CON EL ROL LABORATORISTA-->
                                    <a th:href = "@{/examen/lista(id_filiacion = ${usuario.paciente.filiacion.id_filiacion})}" class="btn btn-success btn-sm" title="Ir a examen lista, laboratorista">
                                        <i class="fas fa-eye" aria-hidden="true"></i></a>

                                    <!--SE ACTIVARA CON EL ROL GES-->
                                    <a th:href = "@{/consulta/lista(id_usuario = ${usuario.id_usuario})}" class="btn btn-success btn-sm" title="Ir a consulta lista,Ges">
                                        <i class="fas fa-eye" aria-hidden="true"></i></a>

                                    <!--SE ACTIVARA CON EL ROL DOCTOR-->
                                    <a th:href = "@{/paciente/detalle(id_usuario = ${usuario.id_usuario})}" class="btn btn-success btn-sm" title="Ver">
                                        <i class="fas fa-eye" aria-hidden="true"></i></a>
                                    <a th:href = "@{/paciente/actualizar(id_usuario = ${usuario.id_usuario})}" class="btn btn-success btn-sm" title="Actualizar">
                                        <i class="fas fa-pencil-alt" aria-hidden="true"></i> </a>
                                    <a th:href = "@{/paciente/eliminar(id_usuario = ${usuario.id_usuario})}" class="btn btn-danger btn-sm" title="Eliminar" onclick="return confirm('¿Está seguro de eliminar?')">
                                        <i class="fas fa-trash" aria-hidden="true"></i> </a>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- FOOTER -->
        <footer th:insert="fragments/imports :: footer"></footer>
        <!-- End FOOTER -->
    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div th:insert ="fragments/topbar :: logout"></div>


<div th:insert = "fragments/imports :: scripts"></div>

</body>

</html>