<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ingreso Paciente</title>

    <div th:insert = "fragments/imports :: links"></div>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- SIDE BAR-->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">SIRERE</div>
        </a>


    </ul>
    <!-- END SIDE BAR-->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- TOP BAR -->
            <div th:insert="fragments/functions :: topbar"></div>
            <!-- END TOP BAR-->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
<!--                    <h1 class="h3 mb-0 text-gray-800">Pagina de ejemplo</h1>-->
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                </div>


                <!--  ROW CART-->
                <!-- <div th:insert = "fragments-funcion :: row-cart"></div>-->
                <!--END ROW CART-->


                <div class= "card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Registro Paciente</h6>
                    </div>
                    <div class= "card-body">
                        <form class="row g-3 needs-validation" novalidate  th:action="@{/paciente/create}" th:object="${usuario}" method="post">
                            <!--RUT-->
                            <div class="col-md-4">
                                <label  class="form-label">Rut</label>
                                <input type="text" class="form-control"
                                       th:field="*{rut}"  id="rut" name="rut"   oninput="checkRut(this)" required="required">
                                <script th:src="@{/js/validarRUT.js}"></script>
                                <div class="valid-feedback">
                                    Bien!
                                </div>
                            </div>

                            <!--NOMBRE-->
                            <div class="col-md-4">
                                <label  class="form-label">Nombre</label>
                                <input type="text" class="form-control"
                                       th:field="*{nombre}"  id="nombre" name="nombre"   required="required">
                                <div class="valid-feedback">
                                    Bien!
                                </div>
                            </div>

                            <!--APELLIDO-->
                            <div class="col-md-4">
                                <label  class="form-label">Apellido</label>
                                <input type="text" class="form-control"   required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>

                            <!--REGION-->
                            <div class="col-md-4">
                                <label  class="form-label">Region</label>
                                <input type="text" class="form-control"
                                       th:field="*{paciente.region}"  id="region" name="region"   required="required">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>

                            <!--COMUNA-->
                            <div class="col-md-4">
                                <label  class="form-label">Comuna</label>
                                <input type="text" class="form-control"
                                       th:field="*{paciente.comuna}"  id="comuna" name="comuna"   required="required">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>

                            <!--DIRECCION-->
                            <div class="col-md-6">
                                <label  class="form-label">Direccion</label>
                                <input type="text" class="form-control"
                                       th:field="*{paciente.direccion}"  id="direccion" name="direccion"   required="required">
                                <div class="invalid-feedback">
                                    Please provide a valid city.
                                </div>
                            </div>

                            <!-- PREVISION -->
                            <select class="form-select" th:field="*{paciente.prevision}" id="prevision" name="prevision" required="required">
                                <option selected>Prevision</option>
                                <option th:value="'fo'" th:text="Fonasa"></option>
                                <option th:value="'is'" th:text="Isapre"></option>
                            </select>

                            <!-- SEXO -->
                            <select class="form-select" th:field="*{paciente.filiacion.sexo}" id="sexo" name="sexo" required="required">
                                <option selected>Sexo</option>
                                <option th:value="'M'" th:text="Masculino"></option>
                                <option th:value="'F'" th:text="Femenino"></option>
                            </select>

                            <!-- RAZA -->
                            <select class="form-select"  th:field="*{paciente.filiacion.raza}" id="raza" name="raza" required="required">
                                <option selected>Sexo</option>
                                <option th:value="'ng'" th:text="AfroAmericano"></option>
                                <option th:value="'bl'" th:text="Caucasico"></option>
                            </select>

                            <label>Fecha Nacimiento</label>
                            <input type="date" th:field="*{paciente.filiacion.fecha_nac}" id="fecha_nac" required = "true">

                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Ingresar</button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- FOOTER -->
        <footer th:insert="fragments/imports :: footer"></footer>
        <!-- End FOOTER -->
    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div th:insert ="fragments/functions :: logout"></div>
<!--<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"-->
<!--     aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="exampleModalLabel">Cerrar sesion?</h5>-->
<!--                <button class="close" type="button" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">×</span>-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="modal-body">Seleccione "Salir" para cerrar la sesion.</div>-->
<!--            <div class="modal-footer">-->
<!--                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>-->
<!--&lt;!&ndash;                <a class="btn btn-primary" th:href="@{/login}">Salir</a>&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="btn btn-primary" href="login">Salir</a>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div th:insert = "fragments/imports :: scripts"></div>

</body>

</html>