<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Paciente</title>
</head>
<body>

    <form th:action="@{/filiacion/create}" th:object="${filiacion}" method="post">
        <!-- ALERTA DE ERRORES-->
        <div th:if="${#fields.hasErrors('*')}">
            <h2> Por favor corrija los siguientes errores:</h2>
            <ul>
                <li th:each="err :${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
        </div>

        <!--INICIO DE FORMULARIO FILIACION-->
        <fieldset>
            <legend>Test Avanzar Filiacion</legend>
            <table>
                <input type="hidden" th:field="*{id_filiacion}">
                <tr>
                    <td><label>Sexo:</label></td>
                    <td>
                        <select th:field="*{sexo}" id="sexo" name="sexo" >
                            <option th:value="'M'" th:text="Masculino"></option>
                            <option th:value="'F'" th:text="Femenino"></option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td><label>Raza: </label></td>
                    <td>
                        <select th:field="*{raza}" id="raza" name="raza" required="required" >
                            <option th:value="'ng'" th:text="AfroAmericano"></option>
                            <option th:value="'bl'" th:text="Caucasico"></option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td><label>Fecha Nacimiento: </label></td>
                    <td>
                        <input type="date" th:field="*{fecha_nac}" id="fecha_nac" required = "true">
                    </td>
                </tr>

                <tr>
                    <td>
                        <button type="submit">Registrar...</button>
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
</body>
</html>